{% extends "layouts/app.twig" %}

{% block content %}
    <table class="table-auto">
        <thead>
            <tr>
                <th>Name</th>
                <th>Symbol</th>
                <th>Price</th>
                <th>Rank</th>
            </tr>
        </thead>
        <tbody>

            {% for currency in currencies %}
                <tr>
                    <td>
                        <a href="/currencies/{{ currency.symbol }}">
                            {{ currency.name }}
                        </a>
                    </td>
                    <td>{{ currency.symbol }}</td>
                    <td>{{ currency.price }}</td>
                    <td>{{ currency.rank }}</td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
{% endblock %}